[Desktop Entry]
Version=1.0
Type=Application
Name=GuideOS Wallpaper-Manager
Comment=Wallpaper-Manager für GuideOS.de
Exec=guideos-wallpaper-manager
Icon=guideos-wallpaper-manager
Terminal=false
Categories=GuideOS;
StartupNotify=true