[Desktop Entry]
Version=1.0
Type=Application
Name=GuideOS Wallpaper-Manager
Comment=Wallpaper-Manager für GuideOS.de
Exec=python3 /bin/guideos-wallaper-manager.py
Icon=/usr/share/pixmaps/guideos-wallaper-manager.png
Terminal=false
Categories=GuideOS;
StartupNotify=true

